body {
  margin: 0 auto;
  padding: 0;
}

* {
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
}

#nav-sec {
  position: fixed;
  width: 100%;
  z-index: 5;
}

/* *************************Navigation bar 2************************ */
.nav-logo-tablet {
  display: none;
}

.toprow-2 [class^="na-"] {
  display: none;
}

.naa-1 {
  width: 100%;
  display: inline-block;
  z-index: 4;
  background-color: #fff;
}

.nav-logo {
  width: 106px;
  float: left;
}

.nav-logo img {
  margin: 12px;
}

.srchicon {
  width: 48px;
  height: 48px;
  float: right;
  border-left: 1px solid #eee;
}

.hambutt {
  float: right;
  will-change: opacity;
  width: 48px;
  height: 48px;
  border-left: 1px solid #eee;
}

.ham {
  width: 20px;
  left: 14px;
  top: 23%;
  opacity: 1;
  margin: 4px 0;
  height: 2px;
  background-color: #f42;
}

.na-4 {
  display: block !important;
  color: #000;
  background-color: #fd3;
  width: 100%;
  height: 60px;
  margin-top: -5px;
}

.na-4 a {
  text-decoration: none;
  position: absolute;
  color: #000;
  padding: 10px;
  top: 10px;
  font-size: 0.8rem;
}

.naa-1::after {
  content: " ";
  clear: both;
  display: block;
}

/* ************************articles-flex-3***************************** */
.main-sec {
  position: relative;
  top: 106px;
  width: 100%;
}

.article3 {
  position: relative;
}

.art-cont {
  padding: 0 4px 4px 4px;
}

.art123 {
  height: 122.09px;
  background-size: 100% !important;
}

.art1 {
  background: url("/Assets/Images/opal.jpg") center no-repeat;
}

.art2 {
  background: url("/Assets/Images/design.webp") center no-repeat;
}

.art3 {
  background: url("/Assets/Images/Gemini2.webp") center no-repeat;
}

.art-cover {
  transition: background-color 0.4s ease;
  background: rgba(0, 0, 0, 0.25) url("/public/m5zv-q2d6/20210126152646oe_/https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png") no-repeat;
  z-index: 2;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #fff;
  height: 100%;
  will-change: background-color;
}

.arthead {
  color: #fff;
  z-index: 3;
  position: absolute;
  bottom: 0;
  padding: 13px;
  margin-bottom: -5px;
}

.arthead h2 {
  font-size: 1.2rem;
  font-weight: bold;
}

.arthead ul {
  display: flex;
  margin-top: 4px;
}

.arthead ul li {
  font-size: 0.8rem;
  margin-right: 9px;
}

/* latest funding */
.founding-cnt {
  margin-bottom: 40px;
}

.fndg-3 img {
  width: 60px;
  height: 60px;
  float: left;
  padding: 5.667px;
  margin-right: 4px;
  z-index: 2;
}

.fndg-3 {
  margin-bottom: 20px;
}

.fndg-3 div::after {
  content: "";
  clear: both;
  display: block;
}

.fng-row {
  background-color: rgba(71.8%, 43.1%, 47.5%, 0.06);
}

.fng-row .fng-head {
  background-color: #f00000;
}

.fng-head h4 {
  margin-top: 6px;
  margin-bottom: 18px;
}

.fng-head div {
  background-color: rgb(253, 146, 146);
  height: 47px;
}

.ltst-fndg {
  padding: 16px;
}

.ltst-fndg h2 {
  margin-bottom: 6px;
  font-size: 2.1rem;
  color: #f42;
  font-weight: bold;
}

.ltst-fndg ul {
  line-height: 1.7;
}

.foot-botm div {
  padding-top: 7%;
  height: 101px;
}

.fndg-3 div:nth-child(2) {
  padding: 9px;
  line-height: 2rem;
}

.fndg-3 div:nth-child(3) {
  padding: 9px;
  font-size: 14px;
}

.fndg3-pc {
  display: none;
}

/* footer */

.tnw-foot {
  margin-top: 70px;
  padding: 1px;
  position: relative;
  text-align: center;
  background-color: #131313;
}

.foot-lst ul {
  display: flex;
  flex-wrap: wrap;
}

.foot-lst ul li,
.foot-botm p {
  margin-right: 8px;
  color: #aaa;
}

.foot-icn {
  text-align: center;
  margin-top: 3%;
}

.foot-icn svg {
  border: 1px solid #333;
  border-radius: 50%;
  margin-right: 8px;
  background-color: #333;
  fill: #fff;
  width: 40px;
  padding: 5px;
  height: 40px;
}

.foot-lst {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}

.footnav3-itm {
  margin-top: 4%;
}

.foot-botm {
  background-color: #000;
}

.foot-botm div p {
  width: 53%;
  display: inline;
}

.foot-botm .tnw {
  width: 37.7px;
  height: 9px;
}

.foot-botm .tnwlogo {
  width: 50px;
}

.stpth {
  width: 10%;
  margin-top: 10px;
}

/* Media Query */

/* Tablets */

@media screen and (min-width: 768px) {
  .toprow-2 {
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 10px);
  }

  nav [class^="na-"] {
    width: 100%;
  }

  .toprow-2 [class^="na-"] {
    display: block;
  }

  .nav-ul {
    display: flex;
  }

  .na-2 {
    background-color: #000;
    grid-column: 2/fr;
    grid-row: 1/3;
  }

  .na-2 li {
    padding: 2px;
    margin-right: 5px;
  }

  .toprow-2 a {
    color: #aaa;
  }

  .na-4 a {
    padding: 1px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    font-size: 0.8rem;
  }

  .na-2 .nav-ul-l li:first-child a {
    color: #eee;
  }

  .nav-ul-l {
    float: left;
    position: absolute;
    text-decoration: none;
  }

  .nav-ul-r {
    float: right;
  }

  .na-2::after {
    display: block;
    clear: both;
    content: "";
  }

  .naa-1 {
    display: none;
  }

  .nav-logo-tablet {
    display: block;
    grid-column: 1/2;
    grid-row: 1/8;
  }

  .nav-logo svg {
    margin: 1.2em;
  }

  .na-4 {
    height: 17px;
    margin-top: -1px;
    grid-row: 7/8;
    grid-column: 1/fr;
  }

  .na-3 {
    background-color: #fff;
    grid-row: 3/6;
    grid-column: 2/fr;
  }

  .na-3 img {
    top: -3px;
  }

  .na-3 .nav-ul li {
    padding: 5px;
    font-size: 12px;
  }

  .na-3 ul {
    float: left;
    top: 8px;
  }

  .na-3::after {
    clear: both;
    content: "";
    display: block;
  }

  #srchicon {
    height: 37px;
  }

  .article3 {
    display: grid;
    grid:
      'main main right-top'
      'main main right-top'
      'main main right-bottom'
      'main main right-bottom';
  }

  .founding-cnt {
    display: flex !important;
    justify-content: space-between;
  }

  .art-main {
    grid-area: main;
  }

  .art-tr {
    grid-area: right-top;
  }

  .art-br {
    grid-area: right-bottom;
  }

  .art123 {
    height: 200px;
    background-size: 200% !important;
  }

  .fndg-3 {
    margin-right: 15px;
  }

  .art1 {
    height: 525px;
  }

  .art2 {
    height: 258px;
  }

  .art3 {
    height: 262.5px;
  }

  .foot-lst {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    width: 46%;
  }

  .foot-botm div {
    margin-top: 2%;
    display: flex;
    height: 101px;
    justify-content: center;
  }

  .foot-lst ul {
    flex-wrap: nowrap;
  }

  .foot-lst ul li:last-child {
    left: 0;
  }
}

/* Desktop */
@media screen and (min-width: 1023px) {
  .nav-logo-tablet {
    display: none;
  }

  nav [class^="na-"] {
    width: 100%;
  }

  .fndg3-pc {
    display: block;
  }

  .nav-ul {
    display: flex;
  }

  .na-2 {
    background-color: #000;
    grid-column: 1/fr;
    grid-row: 1/3;
  }

  .na-2 li {
    padding: 2px;
    margin-right: 5px;
  }

  .toprow-2 a {
    color: #aaa;
  }

  .na-4 a {
    padding: 1px;
    margin-left: 5px;
    position: absolute;
    top: 0;
    font-size: 0.8rem;
  }

  .na-2 .nav-ul-l li:first-child a {
    color: #eee;
  }

  .nav-ul-l {
    float: left;
    position: absolute;
    text-decoration: none;
  }

  .nav-ul-r {
    float: right;
  }

  .na-2::after {
    display: block;
    clear: both;
    content: "";
  }

  .naa-1 {
    display: none;
  }

  .na-4 {
    height: 17px;
    margin-top: -1px;
  }

  .na-3 {
    background-color: #fff;
    grid-row: 3/6;
    grid-column: 1/fr;
  }

  .na-3 .nav-ul li {
    padding: 5px;
    font-size: 12px;
  }

  .na-3 ul {
    float: left;
    top: 8px;
  }

  .na-3::after {
    clear: both;
    content: "";
    display: block;
  }

  #srchicon {
    height: 37px;
  }

  .article3 {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }

  .art-main {
    grid-column: 1/7;
    grid-row: 1/9;
  }

  .art-tr {
    grid-column: 7/11;
    grid-row: 1/5;
  }

  .art-br {
    grid-column: 7/11;
    grid-row: 5/9;
  }

  .art123 {
    height: 200px;
    background-size: 200% !important;
  }

  .art1 {
    height: 525px;
  }

  .foot-lst {
    width: 29%;
  }

  .art2 {
    height: 258px;
  }

  .art3 {
    height: 260.5px;
  }

  .main-sec {
    top: 77px;
  }

  .foot-botm div {
    padding-top: 0%;
  }

  .foot-botm div p {
    bottom: 6px;
  }
}
